/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.is-side #meta_fields_meta_box .handle-order-lower,
.is-side #meta_fields_meta_box .handle-order-higher {
  display: none;
}

.is-side #meta_fields_meta_box h2.hndle {
  padding-left: 16px;
  font-weight: 500;
  font-size: inherit;
}

.is-side #meta_fields_meta_box .inside {
  padding: 0 16px;
  font-weight: 500;
  font-size: inherit;
}

.is-side #meta_fields_meta_box .inside label {
  display: inline-block;
  width: 29%;
  font-size: 11px;
  font-weight: 500;
}

.is-side #meta_fields_meta_box .inside select {
  display: inline-block;
  width: 55%;
  font-size: 13px;
  font-weight: 400;
}
